*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

/* ------------------------------------------------------------------------------- */


.login-div{
    position: relative;
    border: 1px solid rgba(126, 115, 115, 0.145);
    border-right: none;
    border-left: none;
    width: 100vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.077);
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-image: linear-gradient(200deg,  rgba(2, 4, 40, 0.34) 0%, #2646984c 100%);
}
#majd-image{
    position: absolute;
    width: 200px;
    left: 25%;
    bottom: 73px;
    filter: brightness(1.03) contrast(3) grayscale(0.6);
    -webkit-user-drag: none;
}
.login-div h1{
    padding-bottom: 20px;
    font-family: "noto";
    letter-spacing: 0.15rem;
    color: rgba(0, 0, 0, 0.868);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.382), 0 0 10px rgba(255, 255, 255, 0.334), 0 0 15px rgba(255, 255, 255, 0.501), 0 0 30px #332b729e, 0 0 40px #abe9ef81, 0 0 55px #188ffff0, 1px 2px 10px rgba(206, 90, 55, 0.36);
    user-select: none;


}
#login-btn{
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0.397);
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: rgba(174, 174, 174, 0.939);
    cursor: pointer;
    width: 100vw;
    font-size: 1.2rem;
    font-family: "cairo";
 
}
#login-btn:hover{
    background-color: rgba(85, 83, 83, 0.297);
    color: rgb(251, 251, 251);
}
/* ------------------------------------------------------------------------------- */
.welcome-text{
    font-size: 1.3rem;
    font-family: "amiri";
    padding-top: 3px;
    color: #000000ce;
    text-shadow: 0px 0px 2px rgb(70, 70, 74);
    user-select: none;
}
.company-div{
    width: 400px;
    min-height: 400px;
    max-height: fit-content;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 10px 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: rgba(245, 245, 245, 0.373);
}

.title-text{
    user-select: none;
    width: 100%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
    color: rgba(0, 0, 0, 0.459);
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.305);
   
}
#search-bar{
    margin-top: 30px;
    width: 90%;
    outline: none;
    height: 30px;
    padding: 0px 10px ;
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(246, 246, 246, 0.381);
    border: 1px solid rgba(0, 0, 0, 0.334);
    color: rgba(0, 0, 0, 0.695);
    caret-color: #000000;
    box-shadow: 0px 0px 1px rgb(3, 43, 161);
}
#search-bar:focus{
    box-shadow: 0px 0px 5px rgb(3, 43, 161);
}
#search-bar::placeholder{
    color: rgba(54, 51, 51, 0.311);
}
.list-companies{
    border: 1px solid rgba(0, 0, 0, 0.334);
    border-top: none;
    width: 90%;
    height: 400px;
    border-radius: 0px 0px 8px 8px;
    overflow-y: auto;
}
.list-companies::-webkit-scrollbar {
    width: 0.8rem;
  }
.list-companies::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 8px 0px;

  }
.list-companies::-webkit-scrollbar-thumb {
    background-color: rgba(1, 12, 84, 0.2);
    border-radius: 0px 0px 8px 0px;
  }
.btn-div{
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.367);
    border-radius: 50px;
    padding: 0px 10px;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.183);
    transition: background-color 0.5s;
}
.btn-div:hover{
    background-color: rgba(0, 0, 0, 0.383); 
    border: 1px solid rgba(0, 0, 0, 0.067);
}
#add-company-btn{
    cursor: pointer;
    background: none;
    font-size: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    color: rgb(45, 39, 148);
    outline: none;
}
#add-company-btn:hover{
    animation: btnEffect 0.3s linear;
}
#add-company-btn:active{
    transform: scale(0.9);
}
@keyframes btnEffect {
    0% {transform: rotate(0) scale(1);}
    50% {transform: rotate(180deg) scale(1.3);}
    100%{transform: rotate(0) scale(1);}
}


@font-face {
    font-family: "amiri" ;
    src: url(/src/Assets/Amiri-Bold.ttf);
}

@font-face {
    font-family: "taviraj";
    src: url(/src/Assets/Taviraj-SemiBold.ttf);
}

@font-face {
    font-family: "noto";
    src: url(/src/Assets/NotoSans.ttf);
}
@font-face {
    font-family: "cairo";
    src: url(/src/Assets/cairo.ttf);
}