.table-div{
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.343);
    width: 100%;
    height: 100%;
    user-select: none;
}
#main-table{
    width: 100%;
}
.table-header{

}
.table-th{
    border: 1px solid black;
}



.bg-div-adder{
    z-index: 90;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(128, 127, 127, 0.339);
}

.adder-div{
    position: fixed;
    top: 40%;
    width: 100%;
    box-shadow: 0px 0px 0px white;
    min-height: 150px;
    background-color: rgba(248, 248, 248);

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.242);
    box-shadow: 0px 0px 10px 1px black;
}

.adder-upper{
    position: absolute;
    width: 100%;
    cursor: grab;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.337);
    display: flex;
    justify-content: end;
    align-items: center;
}
.adder-head-close{
    user-select: none;
    color: rgba(0, 0, 0, 0.631);
    padding: 0 10px;
    height: 100%;
    font-size: 1.2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgba(218, 91, 60, 0.322);
    cursor: pointer;
}
.adder-head-close:hover{
    background: rgba(201, 44, 4, 0.467);
    color: rgba(0, 0, 0, 0.881);
}
.adder-upper:active{
    cursor: grabbing;

}
.adder-header{
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
    width: 100%;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.adder-header-td{
    color: rgb(4, 3, 3);
    width: 100%;
    text-align: center;
    min-width: 105px;
    padding: 3px 0px;
    border-right: 2px solid rgba(188, 188, 199, 0.202);
}

.adder-header-row-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.adder-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid rgba(0, 0, 0, 0.385);
    background: rgb(255, 255, 255);
}


.adder-row input{
    text-align: center;
    font-size: 1.5rem;
    outline: none;
    border:  1px solid rgba(188, 188, 199, 0.802);

}
.adder-row input::placeholder{
    color: rgba(54, 51, 51, 0.311);
    user-select: none;
}
.adder-td, .adder-desig-input{
    min-width: 80px;
    height: 40px;

}

.adder-date-div{
    display: flex;
    background-color: white;
    /* border: 1px solid rgba(25, 0, 255, 0.423); */
}

.adder-date-input{
    width: calc(100% / 3);
    border-radius: 4px;

}

.adder-date-input:nth-child(1){
    border-right: none;

}
.adder-date-input:nth-child(3){
    border-left: none;
    border-right: none;
}
.adder-date-input:nth-child(5){
    border-left: none;
}
.adder-date-divider{
    user-select: none;
    height: 100%;
    font-size: 1.8rem;
    border-top: 1px solid rgba(6, 18, 245, 0.302);
    border-bottom: 1px solid rgba(6, 18, 245, 0.302);

}

.adder-input-focus{
    border: 1px solid rgba(25, 0, 255, 0.423);
}
.adder-desig-div{
    width: 100%;
    display: flex;

    position: relative;
}


.adder-desig-input{
    font-size: 1.2rem;
    transition: font-size 0.1s linear;
    outline: none;
    border: none;
    width: 100%;
}

.adder-desig-input-num{
    border: none;
    outline: none;
}
.adder-desig-num{
    width: 50px;
    color: rgba(0, 0, 0, 0.341);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.452);
    padding-left: 8px;
}
.adder-header-btn-div{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
}
.desig-drop-arrow-div{
    position: absolute;
    top: 0;
    height: 100%;
    
}
.desig-rel{
    position: relative;
    user-select: none;
    cursor: pointer;
    font-size: 1.25em;
    color: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 16px;
  
  
}
.desig-drop-clicked{
    background-color: rgba(0, 0, 0, 0.143);

}
.desig-drop-arrow{
    transition: transform 0.1s linear;
    transform: rotate(0deg);

}
.desig-rel:hover{
    background-color: rgba(0, 0, 0, 0.143);
}
.desig-drop-arrow-on{
    transform: rotate(90deg);

}
.desig-drop-menu{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    display: none;
    flex-direction: column;
    z-index: 999;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;

}
.desig-add-desig{
    width: 100%;
    height: 40px;
    border-top:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: cairo;
   background-color: rgba(0, 46, 86, 0.885);
   color: white;

}
.desig-add-desig:hover{
    background-color: rgba(0, 46, 86, 0.685);


}
.desig-drop-menu-on{
    display: flex;
}

.add-new-desig{
    display: grid;
    grid-template-columns: 1.5fr 8fr 1fr;
    width: inherit;
    height: 35px;
    border-top:1px solid rgba(0, 0, 0, 0.532);
    background-color: rgba(11, 121, 148, 0.344);
}
.add-new-desig input:first-child{
    min-width: 0;
    outline: none;
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.503);

}
.add-new-desig input{
    min-width: 0;
    outline: none;
    border: none;
    background: none;
    color: rgba(0, 0, 0, 0.831);
    border-right: 1px solid rgba(0, 0, 0, 0.503);
   font-size: 1.1rem;

}


.add-new-desig p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.688);
    color:white;
}
.invalid-input-desig{
    background-color: rgba(255, 0, 0, 0.291) !important;

}
.desig-drop-row{
    position: relative;
    display: grid;
    grid-template-columns: 94% 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;

    user-select: none;
    cursor: pointer;
    border-top: 1px solid black;
}
.desig-drop-row div{
    padding: 5px 0px;
}
.desig-drop-row div:first-child{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    height: 100%;
    padding-left: 5px;
   
}

.desig-drop-row div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}


.desig-drop-row div:first-child:hover{
    background-color: rgba(83, 83, 209, 0.42);
}
.desig-drop-row div:nth-child(2):hover{
    background-color: rgba(255, 0, 0, 0.432);
}
/* new arrow */
.new-row-arrow{
    grid-column: 2 / 3;
    width: 50px;
    filter:blur(1px) drop-shadow(0px 2px 3px rgba(12, 212, 215, 0.159));
    cursor: pointer;
    -webkit-user-drag: none;
}

.new-row-arrow:hover{
    transform: scale(1.05);
    filter:blur(1px) drop-shadow(0px 2px 6px rgb(12, 211, 215, 0.3));
}
.new-row-arrow:active{
    transform: scale(1);
    filter:blur(1px) drop-shadow(0px 0px 1px rgb(2, 131, 133, 0.1));
}


.add-to-table-btn{
    justify-self: end;
    align-self: flex-end;
    grid-column: 3 / 4;
    border: 1px solid rgba(255, 255, 255, 0.206);
    padding: 5px 20px;
    font-family: "amiri";
    color: rgba(62, 58, 58, 0.948);
    letter-spacing: 0.05rem;
    background-color: rgba(148, 148, 148, 0.995);
    user-select: none;
    cursor: pointer;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
    font-size: 1rem;
    transition: font-size 0.1s ease-in-out;
}

.add-to-table-btn:hover{
    animation: addTableAnim infinite 2s linear;
    font-size: 1.1rem;
}
.add-to-table-btn:active{
    font-size: 1rem;
}
.invalid-date{
    background-color: rgba(255, 0, 0, 0.221);
    box-shadow: 0px 0px 2px rgba(183, 28, 28, 0.412);
}
@keyframes addTableAnim {
    0%{ box-shadow: 0px 0px 1px white; background-color: rgba(255, 255, 255, 0.195);}
    50%{ box-shadow: 0px 0px 8px rgb(20, 145, 198); background-color: rgba(255, 255, 255, 0.175)}
    100%{ box-shadow: 0px 0px 0px white; background-color: rgba(255, 255, 255, 0.168)}
}

#add-movimento-btn{
    cursor: pointer;
    width:  clamp(10%, 8%, 12%);
    color: rgba(255, 255, 255, 0.998);
    height: 35px;
    font-family: cinzel;
    border-radius: 100px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.401);
    background: none;
    font-size: 2.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 36, 52, 0.289);
    box-shadow: 0px 1px 14px rgba(255, 255, 255, 0.097);
    user-select: none;

}
#add-movimento-btn:hover{
    box-shadow: 0px 1px 20px rgba(255, 255, 255, 0.197);
    background-color: rgba(2, 11, 15, 0.349);



}
#add-movimento-btn:active{
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.297);
}


