
.table-div{
    background: rgb(255, 255, 255);
    border-radius: 15px 0px 0px 15px;
    overflow-y: scroll;
    height: clamp(20%, 80%, 100%);

}
#main-table{


}
.table-header{
    position: sticky;
    top: 0;
    overflow: hidden;
   

}
.table-th{
    border: none;
    padding: 3px 0px;
    font-size: 1.4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 17, 76, 0.77);
    text-shadow: 0px 0px 1px rgba(147, 176, 185, 0.852);
    border-right: 1px solid rgba(240, 240, 240, 0.1);
    border-left: 1px solid rgba(240, 240, 240, 0.1);
}


/* desig stuff*/
.th-desig{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;

}
.clear-filter-text{
  position: absolute;
  font-size: 0.5rem;
  font-family: cairo;
  top: 32%;
  right: 0;
  display: none;
}
.clear-filter-text-show{
  display: block;
}
.th-desig:hover{
  background-color: rgba(0, 0, 0, 0.076);
}

.th-desig span{
  color: rgba(0, 0, 0, 0.111);
  transition: transform 0.1s linear;
  display: flex;
}
.td-arrow-on{
  color: rgba(0, 0, 0, 0.511);
  transform: rotate(-90deg);
}
/* menu for filtering desig */
.table-desig-menu{
  position: absolute;
  width: 70%;
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
  top: 33px;
  left: 58%;
  display: flex;
  flex-direction: column;
}

.td-desig-row{
  display: grid;
  grid-template-columns: 5fr 1fr;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
}
.td-desig-row:last-child{
  border: none;
}
.td-desig-row:hover{
  background-color: rgba(91, 91, 91, 0.101);

}
.td-desig-row-selected{
  background-color: rgba(0, 0, 0, 0.101);

}
.td-desig-text{
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-self: start;
  padding: 8px 0px;
  padding-left: 10px;
  white-space: nowrap;
  font-size: calc(0.5rem + 0.5vw);
}



.td-desig-check{
  font-size: calc(0.4rem + 0.4vw);
  transition: all 0.1s linear !important;
  opacity: 0.5;

}
.td-check-show{
  font-size: calc(0.8rem + 0.6vw);
  filter: contrast(2) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.588));
  opacity: 1;

}








.table-td{
  text-align: center;
  padding: 5px 0px;
  border: 1px solid black;

}




.table-row{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: rgb(16, 17, 17);
    transition: opacity 500ms linear;


}

.table-row:hover{
  background-color: rgba(12, 134, 128, 0.133);
}
.hidden-row{
    display: none;
}
.hidden-row-desig{
  display: none;

}
.table-th:first-child{
    border-radius: 15px 0px 0px 0px;
}
.td-desig, .td-date, .td-num{
    font-size: 1.3rem;
}
.td-desig{
  text-align: start;
  padding-left: 10px;
}
.td-credit, .td-debit, .td-saldo{
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    text-shadow: none;
}

.td-num{
  position: relative;
}
.td-num-close{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  cursor: pointer;
}

.moving-delete{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(234, 5, 5, 0.373);
  animation: movingDel 1s linear;

}
@keyframes movingDel {
  from { width: 0%}
  to { width: 100%}
}

/* .table-row:nth-child(even){
    background: rgba(232, 229, 229, 0.169);
}
.table-row:nth-child(odd){
    background: rgba(231, 231, 233, 0.275);
} */
/* .table-row:nth-child(even){
    background: rgba(20, 19, 19, 0.169);
}
.table-row:nth-child(odd){
    background: rgba(63, 63, 103, 0.275);
} */
/* width */
.table-div::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .table-div::-webkit-scrollbar-track {
    background: #9d9c9c;
  }
  
  /* Handle */
  .table-div::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.621);
  }
  
  /* Handle on hover */
  .table-div::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #export-table, #export-info-table{
    position: fixed;
    display: none;
  }


  .export-modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    padding: 20px;
    backdrop-filter: blur(14px);
  }
  .export-modal-close{
    position: absolute;
    top: 3px;
    right: 15px;
    border: none;
    color: rgba(0, 0, 0, 0.764);
    font-size: 3rem;
    background: none;
    transition: color, transform linear 0.1s;
    cursor: pointer;
    outline: none;
    user-select: none;
    font-weight: 900;
    text-shadow: 0px 1px 1px rgb(246, 237, 237)
  }
  .export-modal-close:hover{
    transform: scale(1.15);
    color: rgba(92, 2, 2, 0.825);
  }
  .export-modal-close:active{
    transform: scale(1);
    color: rgba(0, 0, 0, 0.555);

  }
  .export-modal-fact-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.434);
    width: 70%;
    padding-bottom: 5%;
  }

  .export-modal-text{
    font-family: raleway;
    white-space: nowrap;
    color: white;
    text-shadow: 0px 0px 5px black;
    user-select: none;
  }


  .export-modal-fact-input{
    padding: 2px 7px;
    width: 300px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.04rem;
    font-family: cairo;
    text-align: center;

  }
  .export-modal-type-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-top: 5%;

  }
  .modal-btn-div{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 5px;
  }
  .export-modal-pdf, .export-modal-exl{
    width: 40px;
    -webkit-user-drag: none;
    cursor: pointer;
    transition: 0.1s transform linear;
    user-select: none;

  }
  .export-modal-pdf:hover, .export-modal-exl:hover{
    transform: scale(1.2);
  }
  .export-modal-pdf:active, .export-modal-exl:active{
    transform: scale(1);
  }