
.table-div{
    background: rgba(179, 182, 191, 0.396);
    border-radius: 15px 0px 0px 15px;
    overflow-y: scroll;
    height: clamp(20%, 80%, 100%);

}
#main-table{


}
.table-header{
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgba(189, 185, 185, 0.891);

}
.table-th{
    border: none;
    padding: 3px 0px;
    font-size: 1.4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 17, 76, 0.77);
    text-shadow: 0px 0px 1px rgba(147, 176, 185, 0.852);
    border-right: 1px solid rgba(240, 240, 240, 0.1);
    border-left: 1px solid rgba(240, 240, 240, 0.1);
}

.table-td{
text-align: center;
padding: 5px 0px;

}

.table-row{
    font-family: cairo;
    font-size: 1.2rem;
    color: rgb(16, 17, 17);
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.267);

}
.hidden-row{
    display: none;
}
.table-th:first-child{
    border-radius: 15px 0px 0px 0px;
}
.td-desig, .td-date, .td-num{
    font-size: 1.2rem;
}
.td-credit, .td-debit, .td-saldo{
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    text-shadow: none;
    
}

.table-row:nth-child(even){
    background: rgba(232, 229, 229, 0.169);
}
.table-row:nth-child(odd){
    background: rgba(231, 231, 233, 0.275);
}
/* .table-row:nth-child(even){
    background: rgba(20, 19, 19, 0.169);
}
.table-row:nth-child(odd){
    background: rgba(63, 63, 103, 0.275);
} */
/* width */
.table-div::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .table-div::-webkit-scrollbar-track {
    background: #9d9c9c;
  }
  
  /* Handle */
  .table-div::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.621);
  }
  
  /* Handle on hover */
  .table-div::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #export-table, #export-info-table{
    position: fixed;
    display: none;
  }


  .export-modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    padding: 20px;

    backdrop-filter: blur(10px);
  }
  .export-modal-close{
    position: absolute;
    top: 3px;
    right: 15px;
    border: none;
    color: rgba(0, 0, 0, 0.764);
    font-size: 3rem;
    background: none;
    transition: color, transform linear 0.1s;
    cursor: pointer;
    outline: none;
    user-select: none;
    font-weight: 900;
    text-shadow: 0px 1px 1px rgb(246, 237, 237)
  }
  .export-modal-close:hover{
    transform: scale(1.15);
    color: rgba(92, 2, 2, 0.825);
  }
  .export-modal-close:active{
    transform: scale(1);
    color: rgba(0, 0, 0, 0.555);

  }
  .export-modal-fact-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.434);
    width: 70%;
    padding-bottom: 5%;
  }

  .export-modal-text{
    font-family: raleway;
    white-space: nowrap;
    color: white;
    text-shadow: 0px 0px 5px black;
    user-select: none;
  }


  .export-modal-fact-input{
    padding: 2px 7px;
    width: 300px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.04rem;
    font-family: cairo;
    text-align: center;

  }
  .export-modal-type-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-top: 5%;

  }
  .modal-btn-div{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 5px;
  }
  .export-modal-pdf, .export-modal-exl{
    width: 40px;
    -webkit-user-drag: none;
    cursor: pointer;
    transition: 0.1s transform linear;
    user-select: none;

  }
  .export-modal-pdf:hover, .export-modal-exl:hover{
    transform: scale(1.2);
  }
  .export-modal-pdf:active, .export-modal-exl:active{
    transform: scale(1);
  }